@namespace Gizmo.Client.UI.Web.Module.Pages
@inherits Gizmo.Web.Components.CustomDOMComponentBase

<div class="giz-app-details__app__navigation__label">
    @if (!string.IsNullOrEmpty(Content))
    {
        @((MarkupString)Content)
    }
</div>